@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.MD.FacilityMasterPackage
@Html.Partial("_AjaxMessage")
@using (Html.BeginForm("FacilityMasterPackageNew", "FacilityMaster"))
{
    <fieldset>
        <legend>@Resources.MD.FacilityMasterPackage.FacilityMasterPackage_New_Title</legend>
        <div class="editor">
            <div class="editor-label-2">
                @Html.HiddenFor(model => model.FacilityMaster)
                <label for="Location_Code">
                    @Resources.MD.FacilityMasterPackage.FacilityMasterPackage_FacilityMaster
                </label>
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.FacilityMaster)
                @Html.ValidationMessageFor(model => model.FacilityMaster)
            </div>
            <div class="editor-label-2">
                <label for="FacilityMasterPackage_Description">
                    @Resources.MD.FacilityMasterPackage.FacilityMasterPackage_Description
                </label>
            </div>
            <div class="editor-field-2">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="editor-label-2">
                <label for="FacilityMasterPackage_UC">
                    @Resources.MD.FacilityMasterPackage.FacilityMasterPackage_UC
                </label>
            </div>
            <div class="editor-field-2">
                @Html.TextBox("UnitCount",Model.UnitCount)
                @Html.ValidationMessageFor(model => model.UnitCount)
            </div>
            <div class="editor-label-2">
                <label for="FacilityMasterPackage_IsDefault">
                    @Resources.MD.FacilityMasterPackage.FacilityMasterPackage_IsDefault
                </label>
            </div>
            <div class="editor-field-2">
                @Html.CheckBox("IsDefault", false, new { disabled = "disabled" })
            </div>
        </div>
        <div class="editor-footer">
            <input type="submit" value="@Resources.SYS.Global.Button_New" />
            <button type="button" id="btnBack" onclick="btnBackFacilityMasterPackageList_Click()">
                @Resources.SYS.Global.Button_Back</button>
        </div>
    </fieldset>
}
<script language="javascript" type="text/javascript">
    function btnBackFacilityMasterPackageList_Click() {
        var data = {
            "id": $("#FacilityMaster").val()
        };
        $.ajax({
            type: "get",
            dataType: "html",
            url: "/FacilityMaster/FacilityMasterPackage/",
            data: data,
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#TabStrip");
                var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                $(tabStripContent2).html(data);
            }
        });
    }

    $(document).ready(function () {
        $("form[action$='FacilityMasterPackageNew']").submit(function () {
            $.post($(this).attr("action"), $(this).serialize(), function (response) {
                var tabStrip = $("#TabStrip");
                var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                $(tabStripContent2).html(response);
            });
            return false;
        });
    });
    

</script>