@using com.Sconit.Entity.SYS
@model com.Sconit.Entity.MD.FacilityMasterPackage
@Html.Partial("_AjaxMessage")
@using (Html.BeginForm())
{
    <script language="javascript" type="text/javascript">
        function btnDeleteFacilityMasterPackage_Click() {
            var data = {
                "Id": $("#Id").val(),
                "item": $("#FacilityMaster").val()
            };
            $.ajax({
                type: "post",
                dataType: "html",
                url: "/FacilityMaster/FacilityMasterPackageDelete/",
                data: data,
                cache: false,
                success: function (data, textStatus) {
                    var tabStrip = $("#TabStrip");
                    var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                    $(tabStripContent2).html(data);
                }
            });
        }

        function btnBackFacilityMasterPackage_Click() {
            var data = {
                "Id": $("#FacilityMaster").val()
            };
            $.ajax({
                type: "post",
                dataType: "html",
                url: "/FacilityMaster/FacilityMasterPackage/",
                data: data,
                cache: false,
                success: function (data, textStatus) {
                    var tabStrip = $("#TabStrip");
                    var tabStripContent2 = tabStrip.data("tTabStrip").getContentElement(2);
                    $(tabStripContent2).html(data);
                }
            });
        }
</script>
    
    <fieldset>
        <legend>@Resources.MD.FacilityMasterPackage.FacilityMasterPackage_Edit_Title</legend>
            <div class="editor">
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.FacilityMaster)
                @Html.HiddenFor(model => model.UnitCount)
                @Html.HiddenFor(model => model.IsDefault)
                @Html.HiddenFor(model => model.CreateUserName)
                @Html.HiddenFor(model => model.CreateDate)
                @Html.HiddenFor(model => model.LastModifyUserName)
                @Html.HiddenFor(model => model.LastModifyDate)
            <div class="editor-label-2">
                @Html.LabelFor(model => model.FacilityMaster)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.FacilityMaster)
            </div>
              <div class="editor-label-2">
               @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field-2">
            @Html.TextBox("Description", Model.Description)
            </div>
            <div class="editor-label-2">
               @Html.LabelFor(model => model.UnitCount)
            </div>
             <div class="editor-field-2">
                @Html.DisplayFor(model => model.UnitCount)
            </div>
            <div class="editor-label-2">
                @Html.LabelFor(model => model.IsDefault)
            </div>
            <div class="editor-field-2">
                @Html.DisplayFor(model => model.IsDefault)
            </div>
        </div>
        <div class="editor-footer">
            @{
    if (!Model.IsDefault)
    {
        
    @Html.Button(Resources.SYS.Global.Button_Delete, "Url_FacilityMaster_Delete", new Dictionary<string, string>()
	    {
	        {"type", "button"},
	        {"id", "btnDelete"},
            {"needconfirm","false"},
            {"onclick","btnDeleteFacilityMasterPackage_Click()"}
	    })        
        @*<button type="button" id="btnDelete" onclick="btnDeleteFacilityMasterPackage_Click()">
                @Resources.SYS.Global.Button_Delete</button>*@
    }
                }
            
            <button type="button" id="btnBack" onclick="btnBackFacilityMasterPackage_Click()">
                @Resources.SYS.Global.Button_Back</button>
        </div>
    </fieldset>
}




